// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments-list {
 display: flex;
 flex-direction: column;
 padding: 30px;
}

.comment-container {
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.new-comment-container {
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: $background;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.comment {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.comment-user {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-body {
  font-size: 14px;
}
