// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-detail {
  display: flex;
}

.project-info {
  flex: 1;
  background-color: $background;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0px 10px;
}

.avatar {
  border-radius: 150px;
}

.about {
  padding: 10px;
}

h3, h4, p {
  padding: 5px;
}

p {
  font-size: 14px;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: $background;
}

.project {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}

.thumbnail:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
}

.images-list {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 680px;
  overflow: auto;
  height: 88vh;
}

.image {
  margin-bottom: 10px;
}

.image-caption {
  display: flex;
  justify-content: center;
}
