// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  display: flex;
  margin: 40px;
}

.user-info {
  // width: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  // padding: 10px;
  background-color: $background;
}

.user-main {
  display: flex;
  flex: 4;
  background-color: #FFFF99;
  // padding: 10px;
  margin: 0px, 20px;
}
