// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  flex: 1;
  display: flex;
  padding: 10px;
}

.user-info {
  width: 200px;
  display: flex;
  flex-direction: column;
    background-color: $background;
}
