// $light-gray: #f0f0f0;
// $gray: #b5b5b5;
// $dark-gray: #555555;

$whiteish: #fdfffc;
$light-gray: #ebebeb;
$gray: #c0c0c0;

$light-orange: #ff9f1c;
$orange: #ff6700;
$light-blue: #5697D8;
$blue: #3a6ea5;
$dark-blue: #004e98;
$dark: #011627;

$deep-red: #ED0300;
$deep-blue: #2B2D42;
$gray-blue: #8D99AE;
$light-white: #FBFBFF;
$dark-white: #EDF2F4;

$light-black: #353535;
$background: #f9f9f9;
