// $light-gray: #f0f0f0;
// $gray: #b5b5b5;
// $dark-gray: #555555;

$whiteish: #fdfffc;
$light-gray: #ebebeb;
$gray: #c0c0c0;

$light-orange: #ff9f1c;
$orange: #ff6700;
$light-blue: #5697D8;
$blue: #3a6ea5;
$dark-blue: #004e98;
$dark: #011627;
